* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFE7CE;
    color: #000;
    line-height: 1.6;
}

header {
    background-color: #FF8551;
    color: #000;
    text-align: center;
    padding: 50px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
    color: #fff;
    background-color: #FF5722;
}

.property-card {
    border: 1px solid #FFE7CE;
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s;
}

.property-card:hover {
    transform: translateY(-10px);
}

.property-card h3 {
    margin-top: 20px;
    font-size: 24px;
}

.property-card p {
    margin-top: 20px;
    font-size: 16px;
}

.btn-add-property {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 30px;
    background-color: #4CAF50;  /* Cambiamos a un verde agradable */
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
    vertical-align: middle; /* Asegura que el ícono y el texto estén alineados verticalmente */
}

.btn-add-property:hover {
    background-color: #45a049;
}

.btn-add-property .icon {
    margin-right: 10px;  /* Espacio entre el ícono y el texto */
}
footer {
    background-color: #FF8551;
    color: #000;
    text-align: center;
    padding: 50px 0;
}

