:root {
    --bg-dark: #121212;
    --text-dark: #e0e0e0;
    --primary-color: #ff6f00;  /* Color naranja */
}

.login-container,
.register-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #444;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #333;
    transition: transform 0.3s;
    color: var(--text-dark);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-dark);
    font-weight: 600;
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
    color: var(--text-dark);
}

input, 
select {
    width: 85%;
    padding: 10px;
    margin: 8px;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 14px;
    background-color: var(--bg-dark);
    color: var(--text-dark);
    transition: border-color 0.3s;
    font-family: 'Roboto Mono', monospace;
}

input:focus, 
select:focus {
    border-color: var(--primary-color);
    outline: none;
    font-family: 'Roboto Mono', monospace;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--bg-dark);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    font-family: 'Roboto Mono', monospace;
}

button:hover {
    background-color: #FF8551;
}

.login-container:hover,
.register-container:hover {
    transform: scale(1.02);
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--bg-dark);
    color: var(--text-dark);
    line-height: 1.6;
}