/* Estilos generales */
:root {
    --bg-dark: #121212;
    --text-dark: #e0e0e0;
    --primary-color: #ff6f00;  /* Color naranja */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--bg-dark);
    color: var(--text-dark);
    line-height: 1.6;
}

header {
    background-color: #333;
    color: var(--text-dark);
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#logo-header {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 150px;
    z-index: 10;
}

header h1 {
    font-size: 24px;
    margin: 0 auto;
    padding-left: 350px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-dark);
    padding: 5px 10px;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
    color: #fff;
    background-color: #555;
}

/* Formulario de Verificación */
.user-verification-form {
    margin: 180px auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-dark);
}

#verify-user-form input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
    color: var(--text-dark);
    background-color: var(--bg-dark);
    font-family: 'Roboto Mono', monospace;
}

#verify-user-form button {
    width: 100%;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: var(--text-dark);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Roboto Mono', monospace;
}

#verify-user-form button:hover {
    background-color: #ff8b33;
}

/* Pie de página */
footer {
    background-color: #333;
    color: var(--text-dark);
    text-align: center;
    padding: 113px 0;
}