/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFE7CE;
    color: #000;
    line-height: 1.6;
}

header {
    background-color: #FF8551;
    color: #000;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#logo-header {
    position: absolute;
    left: 20px;  /* Distancia del borde izquierdo */
    top: 50%;    /* Centrado verticalmente */
    transform: translateY(-50%); /* Alineación vertical precisa */
    max-width: 150px;  /* Cambia este valor según el tamaño deseado para tu logo */
    z-index: 10;
}

header h1 {
    font-size: 24px;
    margin: 0 auto; /* Centrar horizontalmente */
    padding-left: 350px; /* espacio para el logo */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
    color: #fff;
    background-color: #FF5722;
}

/* Formulario de Verificación */
.user-verification-form {
    margin: 180px auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #FF5722;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
}

#verify-user-form input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #FF5722;
    border-radius: 5px;
    font-size: 16px;
}

#verify-user-form button {
    width: 100%;
    padding: 10px 15px;
    background-color: #ff5722;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#verify-user-form button:hover {
    background-color: #FF8551;
}

/* Pie de página */
footer {
    background-color: #FF8551;
    color: #000;
    text-align: center;
    padding: 113px 0;
}


