.register-container {
    width: 300px;
    margin: 70px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register-container p {
    margin-bottom: 10px;
    font-weight: bold;
}

#back-button {
    display: block;
    width: 100px;
    height: 100px;
    background-color: #ff5722;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 50%; /* Hacer el botón redondo */
    font-weight: bold;
    text-align: center;
    line-height: 100px; /* Centrar verticalmente */
    margin: 15px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#back-button:hover {
    background-color: #FF8551;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFE7CE;
    color: #000;
    line-height: 1.6;
}
