/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para la sección del héroe */
.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5722;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Estilos para la sección de propiedades destacadas */
.featured-properties {
    padding: 40px;
}

.featured-properties h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

/* Estilos para las tarjetas de propiedades destacadas */
.featured-properties {
    margin-top: 20px;
}

.property-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.property-card img {
    max-width: 100%;
    height: auto;
}

.property-card h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.property-card p {
    margin-top: 10px;
    font-size: 1rem;
}

.property-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.property-card a:hover {
    background-color: #0056b3;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f8; /* Cambiar el color de fondo a azul claro */
    color: #003366; /* Cambiar el color del texto a azul oscuro */
}

/* Estilos para la sección del héroe */
.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #fff; /* Color de texto para todo el contenido en la sección del héroe */
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #003366; /* Cambiar el color del título a azul oscuro */
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #003366; /* Cambiar el color del párrafo a azul oscuro */
}

.hero a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5722;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
