.login-container, .register-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: transform 0.3s;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
    color: #555;
}

input, select {
    width: 85%;
    padding: 10px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FF8551;
}

.login-container:hover, .register-container:hover {
    transform: scale(1.02);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFE7CE;
    color: #000;
    line-height: 1.6;
}