* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-dark: #121212;
    --text-dark: #e0e0e0;
    --primary-color: #ff6f00;  /* Color naranja */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-dark);
    line-height: 1.6;
}

header {
    background-color: #333;
    color: var(--text-dark);
    text-align: center;
    padding: 50px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-dark);
    padding: 5px 10px;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
    color: #fff;
    background-color: #555;
}

.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 150px 0;
    color: var(--text-dark);
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.5);
    z-index: 0;
}

.hero h2, .hero p, .hero a {
    position: relative;
    z-index: 1;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.hero a {
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: var(--text-dark);
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.hero a:hover {
    background-color: #ff8b33; /* Un tono más claro de naranja */
}

.featured-properties {
    padding: 60px 0;
    text-align: center;
    background-color: #333;
}

.featured-properties h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.property-card {
    border: 1px solid #444;
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s;
    background-color: #444;
    color: var(--text-dark);
}

.property-card:hover {
    transform: translateY(-10px);
}

.property-card h3 {
    margin-top: 20px;
    font-size: 24px;
}

.property-card p {
    margin-top: 20px;
    font-size: 16px;
}

.property-card a {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: var(--text-dark);
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.property-card a:hover {
    background-color: #ff8b33;
}

.footer {
    background-color: #333;
    color: var(--text-dark);
    text-align: center;
    padding: 30px 0;
}
