.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #FFE7CE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input { 
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #FFE7CE;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #FF8551;
}

.register-container {
    width: 300px;
    margin: 70px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFE7CE;
    color: #000;
    line-height: 1.6;
}